    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
     :root {
        --green-color: #59A638;
        --gray-color: #D6D1D1;
    }
    
    .green-btn {
        background-color: var(--green-color);
        color: white;
        padding: 0.5rem 2rem;
        margin-top: 1rem;
        border-radius: 5px;
        font-size: 1.5rem;
        border: none;
    }
    
    .green-btn:hover {
        cursor: pointer;
        color: var(--green-color);
        background-color: white;
        border: 1px solid var(--green-color);
    }
    /* Start Header Section */
    
    .header-class {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10% 0 5%;
    }
    
    .logo {
        width: 50%;
    }
    
    .navbar-nav {
        list-style-type: none;
    }
    
    .navbar-nav li {
        display: inline-block;
    }
    
    .navbar-nav li:not(.no-border) {
        border-right: 1px solid rgb(65, 63, 63);
        padding-right: 2rem;
    }
    
    .second-navbar {
        background-color: var(--gray-color);
        margin: 1% 10% 1% 5%;
        font-size: 2rem;
    }
    
    .second-navbar ul {
        list-style-type: none;
        width: 99%;
        margin: auto;
    }
    
    .second-navbar ul li {
        display: inline-block;
        padding: 0 6%;
    }
    
    .first-navbar {
        font-size: 1.5rem;
    }
    
    .first-navbar ul {
        display: flex;
        justify-content: space-between;
    }
    
    .first-navbar ul li {
        margin-left: 1rem;
    }
    
    .search-bar {
        padding: 0.5rem 2rem;
        background-color: var(--gray-color);
        border-radius: 5px;
    }
    
    .fa-search {
        color: black;
    }
    /* End Header Section */
    /* Start Auth forms */
    
    .auth-forms {
        width: 55%;
        margin: 1% auto;
    }
    
    .auth-forms input:not(.check-remember) {
        width: 80%;
        padding: 1.5rem 0.5rem;
    }
    
    .form-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    /* login form */
    
    .form-check .check-remember {
        margin: 0;
    }
    /* End Auth forms */